<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.edu.co/unal/A/ADsl" 
       class = "co.edu.unal.A.aDsl.ADslPackage"
       genModel = "model/generated/ADsl.genmodel" /> 
	
  </extension>



</plugin>
