<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.edu.co/unal/B/BDsl" 
       class = "co.edu.unal.B.bDsl.BDslPackage"
       genModel = "model/generated/BDsl.genmodel" /> 
	
  </extension>



</plugin>
